.card {
    &__group {
        &-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: top;
            flex-wrap: wrap;
        }
        &-item {
            display: flex;
            flex-direction: column;
            padding: 10px 10px;
            width: 21%;
            min-width: 360px;
            margin-bottom: 40px;
            border: 1px solid black;
            &-head{
                text-align: center;
                margin-bottom: 20px;
            }
            &-name {

            }
            &-year {

            }
            &-genr {

            }
            &-img {
                max-height: 430px;
                margin-bottom: 30px;
            }
            &-rating {

            }
        }
    }
}